#myHeader {
    background-color: #3F76BF;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}
tr {
    /* Need to center the Data that's in the table */
    padding: 350px;
}
#stockInfo {
    background-color: #3F76BF;
    color: #FFFFFF;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid;
    width: 500px;
    height: 475px;
    float: left;
    text-align: center;
    font-size: 20px;
}

#stockInfoHeader {
    text-decoration: underline;
}
#middleContent input[type=text]{
    /* float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px; */
}

#middleContent {
    float: left;
    text-align: center;
    /* font-size: 25px; */
}
#searchInfo {
    /* Increase size of searchBar */
    width: 24px;
    height: 24px;
}

#current_date {
    text-decoration: underline;
}

#prefPrice {
    background-color: #3fb6bf;
    color: #FFFFFF;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid;
    width: 500px;
    height: 475px;
    float: right;
    text-align: center;
    font-size: 20px;
}

#prefPriceHeader {
    text-decoration: underline;
}